.cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: 1px black solid;
}
            /* <div class= "detail">
                <div class="image">Thumbnail</div>
                <div class= "text-button">
                    <p></p>
                    <div class= "button-time">
                        <div class= "button">
                            <button>View</button>
                            <button>Edit</button>
                        </div>
                        <p class="time">9 mins</p>
                    </div>
                </div>
            </div>
        </div> */